{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'kafedra_od/css/styles_od.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ department.name }}</h1>
            <p class="card-text">{{ department.description|safe }}</p>
        </div>
    </div>
    <a href="{% url 'about' %}" class="btn btn-secondary mt-4">О кафедре</a>
</div>
{% endblock %}
