{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'kafedra_ito/css/styles_ito.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>

<div class="container mt-4">
    <div class="card">
        <div class="card-body text-center">
            <h1 class="card-title">{{ about_info.title }}</h1>
            {% if about_info.image %}
            <img src="{{ about_info.image.url }}" alt="{{ about_info.title }}" class="img-fluid my-3" style="max-width: 100%; height: auto;">
            {% endif %}
            <p class="card-text">{{ about_info.content|safe }}</p>
            <a href="{% url 'contacts' %}" class="btn btn-secondary">Контакты</a>
            <a href="{% url 'about' %}" class="btn btn-secondary mt-4">О кафедре</a>
        </div>
    </div>
</div>
{% endblock %}
